<html>
<title>

</title>
<script src="../static/js/lib/b.js"></script>
<script src="../static/js/lib/jquery.js" type="text/javascript"></script>
<link rel="stylesheet" href="../static/css/lib/m.css"/>
<script src="../static/js/lib/m.js" type="text/javascript"></script>
<body>
<header>
    <ul id="welcome" class="dropdown-content">
    </ul>
    <nav>
    <div class="nav-wrapper">
    </div>
    </nav>
    </header>
<h5>
Sorry!! Seller information is not available .We wish you a happy shopping.Thanks for using our services.
</h5>
<img src=../static/images/1.jpeg>
</body>
</html>
